<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: brown">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/view-all-cats" class="nav-link">Show cats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-cat">Create cat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/find-cat">Find cat</a>
                </li>
            </ul>
        </div>
    </nav>
</div>