<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="main_padding_margin">

<div th:replace="/common/navbar :: navbar"></div>

<div align="center">

    <table class="table table-bordered table-striped">
        <thead class="table-info">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
            <th>Photo</th>
        </tr>
        </thead>
        <th:block th:each="cat : ${cats}">
            <tr style="vertical-align: middle">
                <td>
                    <a href="/{cat-id}/view" th:href="@{/{cat-id}/view(cat-id=${cat.id})}"><p th:text="${cat.name}"></p></a>
                </td>
                <td th:text="${cat.age}"></td>
                <td th:text="${cat.color}"></td>
                <td>
                    <img height="60" width="60" th:src="@{${cat.imagePath}}" />
                </td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>